In [2]:
import pandas as pd
import numpy as np

In [3]:
hot_jokes = pd.read_csv('hot_jokes.csv')
top_jokes = pd.read_csv('top_jokes.csv')

In [4]:
top_jokes.shape

(900, 7)

In [5]:
hot_jokes.shape

(849, 7)

In [6]:
hot_jokes = hot_jokes.drop(['stickied','Unnamed: 0'], axis=1)
top_jokes = top_jokes.drop(['stickied','Unnamed: 0'], axis=1)

In [7]:
hot_jokes['hot'] = True
top_jokes['top'] = True

In [8]:
merged_jokes = pd.concat([hot_jokes, top_jokes])

In [9]:
merged_jokes

,title,ups_ratio,selftext,num_comments,nsfw,hot,top
0,What do you call a polar bear in the jungle?,0.98,Lost,71,False,True,NaN
1,What do you call two similar boobs?,0.90,Identities,12,True,True,NaN
2,Instead of a swear jar I have a negativity jar...,0.98,It's half empty.,142,False,True,NaN
3,Why does a mermaid wear seashells?,0.97,Because she outgrew her b-shells.,11,False,True,NaN
4,I got an vinyl album of wasp sounds the other ...,0.96,Then I realised I was playing the bee side.,8,False,True,NaN
...,...,...,...,...,...,...,...
895,I'm a member of the American Medical Associati...,0.93,NaN,112,False,NaN,True
896,Women are like grenades...,0.94,Remove the ring and your house is gone.,197,False,NaN,True
897,My wife saw an ant picking up a leaf 5 times i...,0.96,"So I picked up the leaf and said, “Yes.”",71,False,NaN,True
898,Who ever invented Knock-Knock jokes should get...,0.94,NaN,133,False,NaN,True
899,"Mahatma Gandhi, as you know, walked barefoot m...",0.92,"This made him, A super calloused fragile mysti...",175,False,NaN,True

In [10]:
merged_jokes['hot'] = merged_jokes['hot'].map({True:1, np.nan:0})
merged_jokes['top'] = merged_jokes['top'].map({True:1, np.nan:0})

In [11]:
merged_jokes

,title,ups_ratio,selftext,num_comments,nsfw,hot,top
0,What do you call a polar bear in the jungle?,0.98,Lost,71,False,1,0
1,What do you call two similar boobs?,0.90,Identities,12,True,1,0
2,Instead of a swear jar I have a negativity jar...,0.98,It's half empty.,142,False,1,0
3,Why does a mermaid wear seashells?,0.97,Because she outgrew her b-shells.,11,False,1,0
4,I got an vinyl album of wasp sounds the other ...,0.96,Then I realised I was playing the bee side.,8,False,1,0
...,...,...,...,...,...,...,...
895,I'm a member of the American Medical Associati...,0.93,NaN,112,False,0,1
896,Women are like grenades...,0.94,Remove the ring and your house is gone.,197,False,0,1
897,My wife saw an ant picking up a leaf 5 times i...,0.96,"So I picked up the leaf and said, “Yes.”",71,False,0,1
898,Who ever invented Knock-Knock jokes should get...,0.94,NaN,133,False,0,1
899,"Mahatma Gandhi, as you know, walked barefoot m...",0.92,"This made him, A super calloused fragile mysti...",175,False,0,1

In [12]:
merged_jokes.to_csv('merged_jokes.csv')

In [17]:
hot_jokes.merge(top_jokes, how="outer", on=['title', 'selftext'])

,title,ups_ratio_x,selftext,num_comments_x,nsfw_x,hot,ups_ratio_y,num_comments_y,nsfw_y,top
0,What do you call a polar bear in the jungle?,0.98,Lost,71.0,False,True,NaN,NaN,NaN,NaN
1,What do you call two similar boobs?,0.90,Identities,12.0,True,True,NaN,NaN,NaN,NaN
2,Instead of a swear jar I have a negativity jar...,0.98,It's half empty.,142.0,False,True,0.98,142.0,False,True
3,Why does a mermaid wear seashells?,0.97,Because she outgrew her b-shells.,11.0,False,True,NaN,NaN,NaN,NaN
4,I got an vinyl album of wasp sounds the other ...,0.96,Then I realised I was playing the bee side.,8.0,False,True,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1736,I'm a member of the American Medical Associati...,NaN,NaN,NaN,NaN,NaN,0.93,112.0,False,True
1737,Women are like grenades...,NaN,Remove the ring and your house is gone.,NaN,NaN,NaN,0.94,197.0,False,True
1738,My wife saw an ant picking up a leaf 5 times i...,NaN,"So I picked up the leaf and said, “Yes.”",NaN,NaN,NaN,0.96,71.0,False,True
1739,Who ever invented Knock-Knock jokes should get...,NaN,NaN,NaN,NaN,NaN,0.94,133.0,False,True
1740,"Mahatma Gandhi, as you know, walked barefoot m...",NaN,"This made him, A super calloused fragile mysti...",NaN,NaN,NaN,0.92,175.0,False,True